<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mock</title>
    <link href="https://cdn.bootcss.com/element-ui/2.11.1/theme-chalk/index.css" rel="stylesheet">
    <link rel="stylesheet" href="index.css?v=4">
</head>
<style>
    .el-card__body {
        padding: 20px;
        padding-top: 0px;
    }
</style>

<body>
    <div id="app">
        <el-collapse v-model="activeName" accordion>
            <el-collapse-item :title="item.url" :name="i" v-for="(item,i) in apis" :key="i">
                <el-card>
                    <div slot="header">
                        <!-- <el-input v-model="item.url" style="width:60%;" placeholder="">
                        </el-input> -->
                        <el-button :icon="refing ? 'el-icon-refresh rotate' : 'el-icon-refresh'" circle @click="ref">
                        </el-button>
                        <el-select v-model="item.url" filterable allow-create default-first-option clearable
                            style="width:55%;" placeholder="mock的接口, 理论上会自动填充 除非出现了一些问题">
                            <el-option v-for="item in allUrls" :key="item" :label="item" :value="formatUrl(item)">
                            </el-option>
                        </el-select>
                        <i class="el-icon-guide"></i>
                        <el-input v-model="localhost" style="width:20%;" placeholder="你的本地ip" :disabled="!usLocalhost">
                        </el-input>
                        <el-checkbox v-model="usLocalhost" :label="usLocalhost ? '已启用' : '已关闭'" border></el-checkbox>
                        <el-button style="float: right" @click="mock(item)" type="text">Mock</el-button>
                    </div>
                    <el-divider content-position="left">Request Json Body</el-divider>
                    <el-input v-model="item.body" type="textarea" :autosize="{ minRows: 1}">
                    </el-input>
                    <br>
                    <el-divider content-position="left">Response Json</el-divider>
                    <el-input :value="item.response" type="textarea" :autosize="{ minRows: 1, maxRows: 16}">
                    </el-input>
                </el-card>
            </el-collapse-item>
        </el-collapse>
    </div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
<script src="https://cdn.bootcss.com/element-ui/2.11.1/index.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>
<script>
    var vm = new Vue({
        el: "#app",
        data() {
            return {
                apis: [],
                width: 0,
                localhost: "",
                usLocalhost: false,
                allUrls: [],
                refing: false,
                activeName: ""
            }
        },
        methods: {
            toJsonFormat(str) {
                try {
                    return JSON.stringify(JSON.parse(str), null, 2);
                } catch (e) {
                    return str;
                }
            },
            formatUrl(value) {
                return value.split("-->")[0];
            },
            async mock(item) {
                var body = JSON.stringify(JSON.parse(item.body));
                var url = item.url;
                localStorage.setItem("localhost", this.localhost)
                if (this.localhost.trim() && this.usLocalhost) {
                    url = url.replace("10.101.72.28", this.localhost.split(":")[0])
                    if (this.localhost.split(":").length == 2) {
                        url = url.replace("6303", this.localhost.split(":")[1])
                        url = url.replace("6300", this.localhost.split(":")[1])
                    }
                }
                item.response = "";
                var api = `api/mock?url=${url}&body=${body}`;
                try {
                    var res = await axios.get(api)
                    item.response = this.toJsonFormat(JSON.stringify(res.data))
                    this.$message.success("请求成功, 不出意外的话应该能在response中查看到输出内容");
                } catch {
                    this.$message.error("发生异常, 可能是远程地址404或者500, 进入控制台查看");
                    item.response = "";
                    window.open(api);
                }
            },
            async ref() {
                this.refing = true;
                await axios.get("api/mock/ref")
                await this.allurls();
                this.refing = false;

            },
            async allurls() {
                var allUrls = await axios.get("api/mock/allurls");
                this.allUrls = allUrls.data;
            }
        },
        computed: {

        },
        async mounted() {
            var sub = decodeURI(location.href).split("?sub=")[1].split("&req=")[0]
            let apis = await axios.get("api/mock/apis/" + sub)
            this.apis = apis.data;
            if (this.apis.length < 1) {
                this.apis.push({
                    url: "",
                    body: "",
                    response: ""
                })
            }
            if (this.apis.length == 1) {
                this.activeName = 0;
            }
            this.apis.forEach(x => {
                x.body = this.toJsonFormat(decodeURI(location.href).split("&req=")[1]);
            });
            // this.apis = ["1", "2", "3", "4", "5"]
            this.width = parseInt(((24 / this.apis.length) + "").split(".")[0])
            this.localhost = localStorage.getItem("localhost") || ""

            await this.allurls();
        }
    })
</script>

</html>